<div id="page" *ngIf="location!=null">

    <h1>The current location of the space station is:</h1>
    <p>timestamp :{{location['timestamp']}}</p>
    <p>latitude :{{location['iss_position'].latitude}}</p>
    <p>longitude :{{location['iss_position'].longitude}}</p>




    <table class="table" *ngIf="listLocation.length!=0">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">timestamp</th>
                <th scope="col">latitude</th>
                <th scope="col">longitude</th>
                <th scope="col">note</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let l of listLocation; let i = index" [attr.data-index]="i">
                <th scope="row">{{i}}</th>
                <td>{{l.timestamp}}</td>
                <td>{{l.latitude}}</td>
                <td>{{l.longitude}}</td>
                <td>{{l.note}}</td>
            </tr>

        </tbody>
    </table>

    <button type="button" class="btn btn-success" (click)="saveLocations()">save locations</button>



    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" id="btn2" (click)="showDialog()">Open Modal</button>

    <!-- Modal -->

    <div *ngIf="flagmodal" class="modal show" id="exampleModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-primary" id="exampleModalLabel">Enter note about the location</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeDialog()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>

                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Message:</label>
                            <textarea [(ngModel)]="newLocation.note" name="d" class="form-control"
                                id="message-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        (click)="closeDialog()">Close</button>
                    <button type="button" class="btn btn-primary" (click)="saveDialogData()">Save message</button>
                </div>
            </div>
        </div>
    </div>
</div>