#page{
    margin-top: 30px;
    margin-left: 30px;
}
#btn2{margin-left: 20px;}
h1{
    color: blue;
    font-family:fantasy;
}
#exampleModalLabel{
    font-weight: bold;
}
.locationDetails{
    font-family: cursive;
}
#m{
    font-weight: bold;
    color: #0da512;
    font-size: 16px;
    margin-top: 10px;
}
#m2{
    font-weight: bold;
    color: red;
    font-size: 16px;
    margin-top: 10px;
}